#sort li{
    list-style-type: none;
    background-color: blueviolet;
    color: wheat;
    padding: 15px;
    margin-bottom: 10px;
}

#sort li:hover{
    background-color: black;
    cursor: pointer;
}